body, html {
  height: 112%;
  Background-color: black;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("Images/Gels-3.png");
  background-repeat: repeat;

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-size: auto;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 1.55vw;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ccc;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*Adding the page title to the top nav bar area */
.seentitle {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: left;
  font-size: 1vw;
}
/* Position text in the middle of the page/image */
.myDiv {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: initial;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 100px;
  left: 10%;
  z-index: 2;
  width: 80%;
  height: 110%;
  padding: 20px;
  text-align: left;
  display: hidden;
  overflow: scroll;
}
.download {
  background-color: rgb(0,0,0); /* Fallback color*/
  background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through*/
  color: white;
  font-weight: bold;
  position: absolute;
  top: 100%;
  left: 32.5%;
  z-index: 1;
  width: 25%;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

/* Style buttons */
.btn {
  background-color: Black;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: white;
  color: black;
}
.footer {
  position: fixed;
  left: 0%;
  bottom: 0%;
  width: 100%;
  background-color: #333;
  text-align: center;
  z-index: 3;
}
